[Unit]
Description=Hyprland Monitor Auto-Switch
Documentation=man:hypr-mon-switch(8)
After=hyprland.service
Wants=hyprland.service

[Service]
Type=oneshot
ExecStart=/etc/acpi/check-lid-on-startup-config.sh
RemainAfterExit=yes
User=root

[Install]
WantedBy=multi-user.target
